/* CUSTOM JS CALCULATOR STYLESHEET */

/* CUSTOM FONT */
@import url(https://fonts.googleapis.com/css?family=Open+Sans|Sonsie+One);

html {
    font-size: 4px;
}

/* BODY STYLING */
body {
    background: rgb(209, 202, 202);
    font-family: "Open Sans";
}

/* TYPOGRAPHY */
.title {
    font-family: "Sonsie One";
    font-size: 8rem;
    text-align: center;
    text-shadow: -1px -1px 1px #fff, 1px 1px 1px #000;
    color: #c5c210;
}

.sub-title {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 8rem;
}

/* CALCULATOR CONTAINER STYLING */
.calculator {
    width: 400px;
    background: #fafafa;
    padding: 10rem;
    margin: 10rem auto;
    border-top-left-radius: 80% 20px;
    border-top-right-radius: 80% 20px;
    border-bottom-left-radius: 80% 20px;
    border-bottom-right-radius: 80% 20px;
    box-shadow: inset 5px 0 10px -5px rgba(153,153,153, .3),
                inset -5px 0 10px -5px rgba(153,153,153, .3),
                inset 0px -5px 10px -2px rgba(153,153,153, .3),
                    0 0 1px 2px rgba(153,153,153, .3),
                    0 10px 20px 0 rgba(153,153,153, .3);
}

/* DISPLAY STYLING */
.display {
    height: 65px !important;
    font-size: 4rem;
    text-align: right;
    margin-bottom: 4rem;
}

/* OVERRIDE SKELETON GRID COLUMN WIDTHS FOR MOBILE */
.three.columns {
    width: 22%;
    margin-left: 4%;
}
.six.columns {
    width: 48%;
}

.column:first-child,
.columns:first-child {
    margin-left: 0;
}

/* CALCULATOR BUTTON STYLING */
.button {
    background: #333;
    border-radius: 5px;
    height: 65px;
    font-size: 4rem;
    color: #fff;
    text-align: center;
    transition: background ease-in-out .2s, color ease-in .2s;
}

/* IMPORTANT BUTTON STYLING */
.important {
    background: #c5c210;
}

.button:hover {
    background: #fff;
}